<div class="login-box">
  <h1>Log in</h1>

  <div class="row">
    <div class="col-md-6 col-md-offset-3">
      <!--
         -<%= link_to "Sign in with Google", "/auth/google_oauth2", id: "sign_in" %>
         -->
      <%= form_for(:user, url: login_path) do |f| %>

        <%= f.label :authentication %> <br>
        Google
        <%= f.radio_button :auth, "google" %>
        PTC
        <%= f.radio_button :auth, "ptc" %> <br>

        <%= f.label :username %>
        <%= f.text_field :username, class: 'form-control' %>

        <%= f.label :password %>
        <%= f.password_field :password, class: 'form-control' %>

        <%= f.submit "Log in", id: "login-btn", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>
