<div class="container-fluid">
  <h1><%= @user.name %></h1>
  <div class="col-md-4">
    <% if @user.items.any? %>
      <% count = 0 %>
      <% @user.items.each do |item| %>
        <% count += item[:count] %>
      <% end %>

      <h3>Items (<%= count %>)</h3>
      <ol class="items">
        <%= render @user.items.all %>
      </ol>
    <% end %>
  </div>
  <div class="col-md-8">
    <div class="row">
      <% if @user.pokemon.any? %>
        <% pokemon = @user.pokemon.all.each_slice(4).to_a %>
        <h3>Pokemon (<%= @user.pokemon.count %>)</h3>
        <% pokemon.each do |poke| %>
          <%= render 'pokemons/pokemon', poke: poke%>
        <% end %>
      <% end %>
    </div>
  </div>
</div>
