<div class="pokemon-card" 
  <% if defined? img %>
       style="background-image: url('<%=img%>');"
     <% end %> >
     <div class="pokemon" id="pokemon-<%= pokemon.id %>">
       <div class="name"> <%=pokemon[:poke_id]%></div>
       <div class="image-box">
         <span class="NUM">#<%=pokemon[:poke_num]%></span>
         <%= pokemon_image pokemon[:poke_num] %>
       </div>
       <table> 
         <tr>
           <td class="IV"> <%= pokemon[:iv] %></td>
           <td class="CP"><span class="CP-text"><%= pokemon[:cp] %></span></td>
           <td class="HP"> <%= pokemon[:max_health] %>HP</td>
         </tr>
       </table>
     </div>
</div>
