<div class="pokemon-card" 
  <% if defined? img %>
       style="background-image: url('<%=img%>');background-repeat: no-repeat;"
     <% end %> >
     <span id="CP"> <%= pokemon[:cp] %> </span>
     <div class="pokemon" id="pokemon-<%= pokemon.id %>">
       <%= image_tag("pokemon/"+/[0-9]{3}.{10}.png/.match(Dir["app/assets/images/pokemon/#{pokemon[:poke_num]}*"][0]).to_s) %>
       <h4 class="name"><%= pokemon[:poke_id] %> </h4> <br>
       <!--
         -Move 1: <span class="move"><%= pokemon[:move_1] %></span> <br>
         -Move 2: <span class="move"><%= pokemon[:move_2] %></span> <br>
         -Max Health: <span class="health"><%= pokemon[:health] %></span> <br>
         -IV Stats = 
         -Attack: <span class="stat"><%= pokemon[:attack] %></span>
         -Defense: <span class="stat"><%= pokemon[:defense] %></span>
         -Stamina: <span class="stat"><%= pokemon[:stamina] %></span> <br>
         -IV: <span class="stat"> <%= pokemon[:iv] %></span> <br>
         -CP: <span class="stat"> <%= pokemon[:cp] %></span>
       -->
     </div>
</div>
