<div class="pokemon-card" 
  <% if defined? img %>
       style="background-image: url('<%=img%>');"
     <% end %> >

     <div class="pokemon" id="pokemon-<%= pokemon.id %>">
       <h3 class="CP data"> <%= pokemon[:cp] %></h3>
       <h4 class="IV data"> <%= pokemon[:iv] %></h4>
       <%= pokemon_image pokemon[:poke_num] %>
       <h3 class="name data"><%= pokemon[:poke_id] %></h4>
       <!--
         -Move 1: <span class="move"><%= pokemon[:move_1] %></span> <br>
         -Move 2: <span class="move"><%= pokemon[:move_2] %></span> <br>
         -Max Health: <span class="health"><%= pokemon[:health] %></span> <br>
         -IV Stats = 
         -Attack: <span class="stat"><%= pokemon[:attack] %></span>
         -Defense: <span class="stat"><%= pokemon[:defense] %></span>
         -Stamina: <span class="stat"><%= pokemon[:stamina] %></span> <br>
         -IV: <span class="stat"> <%= pokemon[:iv] %></span> <br>
         -CP: <span class="stat"> <%= pokemon[:cp] %></span>
       -->
     </div>
</div>
