<div class="col-xs-4 col-sm-3 col-md-2">
<div class="thumbnail pokemon-card">
  <span class="number">#<%=pokemon[:poke_num]%></span>
  <span class="weight"><%=pokemon[:weight_kg].round(2)%>kg</span>
  <span class="height"><%=pokemon[:height_m].round(2)%>m</span>
  <table class="attacked">
    <tr>
      <td><span><%=pokemon[:battles_attacked]%></span></td>
      <td><i class="fa fa-trophy fa-2x"></i></td>
    </tr>
  </table>
  <table class="defended">
    <tr>
      <td><span><%=pokemon[:battles_defended]%></span></td>
      <td><i class="fa fa-flag fa-2x"></i></td>
    </tr>
  </table>
  <div class="image-box">
    <%= pokemon_image pokemon[:poke_num] %>
  </div>
  <div class="caption data">
    <table>
      <tr>
        <td class="name"><%=pokemon[:poke_id]%></td>
        <td class="CP"><%=pokemon[:cp]%></td>
      </tr>
    </table>
    <div class="big-bars">
      <div class="progress">
        <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="<%=pokemon[:health]%>" aria-valuemin="0" aria-valuemax="<%=pokemon[:max_health]%>" style="width: <%=pokemon[:health].to_f/pokemon[:max_health].to_f*100%>%; min-width: 20%">
          <%=pokemon[:health].to_s+' / '+pokemon[:max_health].to_s%>
        </div>
      </div>
      <div class="progress">
        <div class="progress-bar" role="progressbar" aria-valuenow="<%=pokemon[:iv]%>" aria-valuemin="0" aria-valuemax="1" style="width: <%=pokemon[:iv]*100%>%; min-width: 29%;">
          <%=(pokemon[:iv]*100).round(1)%>%
        </div>
      </div>
    </div>
    <div class="small-bars">
      <table>
        <tr>
          <td class="IV">ATK</td>
          <td class="IV-bar">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-danger" role="progressbar" aria-valuenow="<%=pokemon[:attack]%>" aria-valuemin="0" aria-valuemax="15" style="width: <%=pokemon[:attack].to_f/15.0*100%>%; min-width: 20%;">
                <%=pokemon[:attack]%>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="IV">DEF</td>
          <td class="IV-bar">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-info" role="progressbar" aria-valuenow="<%=pokemon[:defense]%>" aria-valuemin="0" aria-valuemax="15" style="width: <%=pokemon[:defense].to_f/15.0*100%>%; min-width: 20%;">
                <%=pokemon[:defense]%>
              </div>
            </div>
          </td>
        </tr>
        <tr>
          <td class="IV">STA</td>
          <td class="IV-bar">
            <div class="progress">
              <div class="progress-bar progress-bar-striped progress-bar-warning" role="progressbar" aria-valuenow="<%=pokemon[:stamina]%>" aria-valuemin="0" aria-valuemax="15" style="width: <%=pokemon[:stamina].to_f/15.0*100%>%; min-width: 20%;">
                <%=pokemon[:stamina]%>
              </div>
            </div>
          </td>
        </tr>
      </table>
    </div>
  </div>
</div>
</div>
