<ul class="nav nav-tabs">
  <li role="presentation" class="active" id="cp_table_button"><%= link_to 'CP', '/stats/cp', remote: true %></li>
  <li role="presentation" id="health_table_button"><%= link_to 'Max Health', '/stats/max_health', remote: true %></li>
  <li role="presentation" id="attack_table_button"><%= link_to 'Battles Attacked', '/stats/battles_attacked', remote: true %></li>
  <li role="presentation" id="defend_table_button"><%= link_to 'Battles Defended', '/stats/battles_defended', remote: true %></li>
  <li role="presentation" id="upgrade_table_button"><%= link_to 'Number of Upgrades', '/stats/num_upgrades', remote: true %></li>
  <li role="presentation" id="height_table_button"><%= link_to 'Height', '/stats/height_m', remote: true %></li>
  <li role="presentation" id="weight_table_button"><%= link_to 'Weight', '/stats/weight_kg', remote: true %></li>
</ul>
<!-- Tables -->
<div class="stats-table-wrap">
  <%= render partial: 'stats/table', locals: {:pokemon_list => @pokemon} %>
</div>

<div class="loading">
  <div class="line"></div>
  <div class="line"></div>
  <div class="line"></div>
</div>

<script>
$(document).ready(function(){
  $('#stats-table').tablesorter();
  $("#cp_table_button, #health_table_button, #attack_table_button, #defend_table_button, #upgrade_table_button, #height_table_button, #weight_table_button").removeClass("active");
  $('#cp_table_button').addClass("active");
});

$("#cp_table_button, #health_table_button, #attack_table_button, #defend_table_button, #upgrade_table_button, #height_table_button, #weight_table_button").click(function(){
  var button_name = "#"+this.id;
  $("#cp_table_button, #health_table_button, #attack_table_button, #defend_table_button, #upgrade_table_button, #height_table_button, #weight_table_button").removeClass("active")
    $(button_name).addClass("active");
});
</script>
