<nav class="main-menu">
  <ul>
    <li class="has-subnav">
      <a href= <%='/'+@user.name+'/cp'%>>
        <i class="fa fa-hand-rock-o fa-2x"></i>
        <span class="nav-text">
          Combat Power
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href= <%='/'+@user.name+'/iv'%>>
        <i class="fa fa-tasks fa-2x"></i>
        <span class="nav-text">
          Individual Values
        </span>
      </a>

    </li>
    <li class="has-subnav">
      <a href="#">
      <a href= <%='/'+@user.name+'/max_health'%>>
        <i class="fa fa-heart fa-2x"></i>
        <span class="nav-text">
          Max Health
        </span>
      </a>

    </li>
    <li>
      <a href="#">
      <a href= <%='/'+@user.name+'/attack'%>>
        <i class="fa fa-bomb fa-2x"></i>
        <span class="nav-text">
          Attack
        </span>
      </a>
    </li>
    <li>
      <a href="#">
      <a href= <%='/'+@user.name+'/defense'%>>
        <i class="fa fa-shield fa-2x"></i>
        <span class="nav-text">
          Defense
        </span>
      </a>
    </li>
    <li>
      <a href="#">
      <a href= <%='/'+@user.name+'/stamina'%>>
        <i class="fa fa-hourglass fa-2x"></i>
        <span class="nav-text">
          Stamina
        </span>
      </a>
    </li>
    <li>
      <a href="#">
      <a href= <%='/'+@user.name+'/poke_id'%>>
        <i class="fa fa-font fa-2x"></i>
        <span class="nav-text">
          Name
        </span>
      </a>
    </li>
    <li>
      <a href="#">
      <a href= <%='/'+@user.name+'/poke_num'%>>
        <i class="fa fa-sort-numeric-asc fa-2x"></i>
        <span class="nav-text">
          Number
        </span>
      </a>
    </li>
  </ul>
</nav>
